.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: 100%;
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  padding: 20px;
}

.pagination,
.pagination * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pagination a {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}

.pagination a.disabled {
  opacity: .3;
  pointer-events: none;
  cursor: not-allowed;
}

.pagination a.current {
  background: #f3f3f3;
}

