// body {
//   padding-top: 54px;
//
// }
//
// @media (min-width: 992px) {
//   body {
//     padding-top: 56px;
//   }
// }

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}
.col-md-5{
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 2px;
}

.portfolio-item {
  margin-bottom: 30px;
}
.pagination{

  padding:20px;

  &,
  *{
    user-select: none;
  }

  a{
    display:inline-block;
    padding:0 10px;
    cursor:pointer;
    &.disabled{
      opacity:.3;
      pointer-events: none;
    cursor:not-allowed;
    }
    &.current{
      background:#f3f3f3;
    }
  }
}
