.simple-block{
    margin: 10px 0px;
    padding: 10px;
    color: white;
    font-size: 150%;
    font-weight: bold;
}

.simple-block:first-child{
    margin-top: 0px;
}
.simple-block:last-child{
    margin-bottom: 0px;
}
.simple-block:hover{
    text-decoration: none;
    color:white;
}

.side-container{
    display: flex;
    flex-direction: column;
}


.top-block{
    padding: 10px 10px;
    color: white;
}

.row{
    margin-bottom: 16px;
}

.chart-group{
    margin-bottom: 30px;
}

.side-scroll{
    overflow-y: auto;
    flex-grow:1;
}
.side-menu{
    display: flex;
    flex-direction: column;
}

.exp-promotion{
    color: red;
}

a#exchange-promotion{
    background: #8CCBE1;
}
a#exchange-age{
    background: #30A1CA;
}
a#exchange-gender{
    background: #03749D;
}

a#point-receive-time{
    background: #EB635C;
}
a#point-receive-age{
    background: #E22117;
}
a#point-receive-gender{
    background: #B80A00;
}

a#point-available-age{
    background: #FFEB6F;
}
a#point-available-gender{
    background: #FFE74F;
}

.card-header#exchange{
    background-color: #024056;
    color: white;
}
.card-header#point-receive{
    background-color: #C61407;
    color: white;
}
.card-header#point-available{
    background-color: #FFB732;
    color: white;
}

#total-customer{
    background-color: #F45DD1;
}
#total-card{
    background: #009324;
}
#total-exchange{
    background: #FFB732;
}