.simple-block{
    background: #aaa;
    margin: 10px 0px;
    padding: 10px;
    color: white;
}

.simple-block:first-child{
    margin-top: 0px;
}
.simple-block:last-child{
    margin-bottom: 0px;
}
.simple-block:hover{
    text-decoration: none;
    color:white;
}

.side-container{
    display: flex;
    flex-direction: column;
}


.top-block{
    padding: 10px 10px;
    background: #aaa;
}

.row{
    margin-bottom: 16px;
}

.chart-group{
    margin-bottom: 30px;
}

.side-scroll{
    overflow-y: auto;
    flex-grow:1;
}
.side-menu{
    display: flex;
    flex-direction: column;
}

.exp-promotion{
    color: red;
}